###**MACHINE LEARNING NA INDUSTRIA** - ***PREVISÃO DE EMISSÃO DE GASES & PRODUÇÃO COM JANELA TEMPORAL***

---
####PROBLEMA : <br><br> Uma indústria gostaria de identificar os melhores cenários (combinações de máquinas) para emissões de gases.

No exemplo temos 5 tipos de máquinas, e a quantidade ativa naquela data e horário.
Sobre o dataset:
*   Foram coletados dados de 15 em 15 minutos
*   Cada máquina possui monitoramento de temperatura e consumo de energia
*   pressão do sistema
*   Se houve injeção de gás no sistema (1 = Sim, 0 = Não)
*   produção
*   emissão de gases

<br>
Para essa demonstração, será utilizado um dataframe com dados fictícios gerados de forma aleatória

### Gerando dataset fictícios

---

In [ ]:
# Importando bibliotécas
import pandas as pd
import random
from datetime import datetime, timedelta

# Começo e fim da coleta de dados
data_inicial = datetime(2022, 6, 1)
data_final = datetime(2023, 12, 1)
delta_tempo = timedelta(minutes=15)

# Criando variáveis
temperatura_m1 = []
temperatura_m2 = []
temperatura_m3 = []
temperatura_m4 = []
temperatura_m5 = []
datas_horas = []
pressao = []
producao = []
injecao_gas = []
consumo_energia_m1 = []
consumo_energia_m2 = []
consumo_energia_m3 = []
consumo_energia_m4 = []
consumo_energia_m5 = []
maquina_tipo_1 = []
maquina_tipo_2 = []
maquina_tipo_3 = []
maquina_tipo_4 = []
maquina_tipo_5 = []
emissao_gases = []

# Gerando dados fictícios
data_atual = data_inicial
while data_atual <= data_final:
    datas_horas.append(data_atual)
    temperatura_m1.append(random.uniform(20, 40))
    temperatura_m2.append(random.uniform(25, 35))
    temperatura_m3.append(random.uniform(30, 45))
    temperatura_m4.append(random.uniform(15, 25))
    temperatura_m5.append(random.uniform(35, 50))
    pressao.append(random.uniform(1, 10))
    producao.append(random.uniform(100, 200))
    injecao_gas.append(random.uniform(0, 1))
    consumo_energia_m1.append(random.uniform(50, 100))
    consumo_energia_m2.append(random.uniform(60, 110))
    consumo_energia_m3.append(random.uniform(70, 120))
    consumo_energia_m4.append(random.uniform(40, 90))
    consumo_energia_m5.append(random.uniform(80, 130))
    maquina_tipo_1.append(random.choice([0, 1]))
    maquina_tipo_2.append(random.choice([0, 1]))
    maquina_tipo_3.append(random.choice([0, 1]))
    maquina_tipo_4.append(random.choice([0, 1]))
    maquina_tipo_5.append(random.choice([0, 1]))
    emissao_gases.append(random.uniform(0, 10))
    data_atual += delta_tempo

# Criando dataframe
dados_maquinas = pd.DataFrame({
    'Data e Hora': datas_horas,
    'Máquina 1': maquina_tipo_1,
    'Máquina 2': maquina_tipo_2,
    'Máquina 3': maquina_tipo_3,
    'Máquina 4': maquina_tipo_4,
    'Máquina 5': maquina_tipo_5,
    'Temperatura Máquina 1 (°C)': temperatura_m1,
    'Temperatura Máquina 2 (°C)': temperatura_m2,
    'Temperatura Máquina 3 (°C)': temperatura_m3,
    'Temperatura Máquina 4 (°C)': temperatura_m4,
    'Temperatura Máquina 5 (°C)': temperatura_m5,
    'Consumo de Energia Máquina 1 (kWh)': consumo_energia_m1,
    'Consumo de Energia Máquina 2 (kWh)': consumo_energia_m2,
    'Consumo de Energia Máquina 3 (kWh)': consumo_energia_m3,
    'Consumo de Energia Máquina 4 (kWh)': consumo_energia_m4,
    'Consumo de Energia Máquina 5 (kWh)': consumo_energia_m5,
    'Pressão (bar)': pressao,
    'producao (m³)': producao,
    'Injeção de Gás': injecao_gas,
    'Emissão de Gases (kg/h)': emissao_gases
})

# Exibindo as 5 primeiras linhas do dataset
dados_maquinas.head(5)

,Data e Hora,Máquina 1,Máquina 2,Máquina 3,Máquina 4,Máquina 5,Temperatura Máquina 1 (°C),Temperatura Máquina 2 (°C),Temperatura Máquina 3 (°C),Temperatura Máquina 4 (°C),Temperatura Máquina 5 (°C),Consumo de Energia Máquina 1 (kWh),Consumo de Energia Máquina 2 (kWh),Consumo de Energia Máquina 3 (kWh),Consumo de Energia Máquina 4 (kWh),Consumo de Energia Máquina 5 (kWh),Pressão (bar),Volume (m³),Injeção de Gás,Emissão de Gases (kg/h)
0,2022-06-01 00:00:00,0,1,0,1,0,35.723455,30.700540,38.172573,16.829377,42.790260,81.737118,96.386222,86.003117,56.090769,85.703487,2.963095,142.466306,0.467295,6.599820
1,2022-06-01 00:15:00,0,1,1,0,1,22.690934,30.758616,40.841505,15.212105,36.204116,52.664762,60.843311,78.754635,88.964652,113.546223,4.242965,137.448295,0.008423,5.968336
2,2022-06-01 00:30:00,1,1,1,1,0,29.016643,29.003710,38.334277,16.250438,39.671702,82.296148,80.355081,86.806383,74.220669,80.242950,5.514873,136.111656,0.450513,5.123173
3,2022-06-01 00:45:00,0,1,1,0,1,27.184836,25.794685,41.555636,23.790827,37.171492,71.837844,95.005085,117.087032,55.239292,103.490598,9.238319,192.461046,0.702003,9.497233
4,2022-06-01 01:00:00,1,1,1,0,1,30.368071,30.784245,32.721589,24.248060,49.758145,72.321403,82.327114,74.623097,43.881715,117.176458,8.424007,176.509459,0.953014,9.578876

In [ ]:
# Tamanho do dataset
dados_maquinas.shape

(52609, 20)

### Manipulações

---

Como o cliente gostaria de prever as emissões para determinado cenário, apenas as máquinas ativas (cenários) serão inseridos pelo cliente.<br>
Como existem variações de emissões para um mesmo cenário, o modelo não conseguiria generalizar apenas com esses dados.<br>
Como os dados guardados são do momento em da captura, não conseguiriamos utilizar para previsão, pois não teríamos essa informação futura para o modelo (vazamento de dados). <br>
A solução abordada foi criar janelas temporais, ou seja, criar novas variáveis com os valores dos períodos anteriores. <br>
Assim, poderíamos usar todas as varíaveis de períodos anteriores, para tentarem prever uma emissão de gas atual, ou futura. Por exemplo, o dataset possui o no dia '2022-06-01 00:15:00' o cenário [0,1,1,0,1] e emissão 5,96. Para prevê-lo eu utilizaria os dados anteriores '2022-06-01 00:00:00' para prever o valor 5,96. <br>
Como são dados passados, o nosso sistema já o possuiria, e seria input para o modelo. A distância da previsão (prever 1 hora, 5 horas ou 10 horas pra frente) dependeria apenas do agrupamento da janela temporal.
<br>
<br>
Complicou? Vai ficar mais simples conforme o desenvolvimento.

In [ ]:
# Criação de janela temporal
def shift(df, passos, variaveis_shift):
  df = df.sort_values(by='Time', ascending=True)
  if variaveis_shift == 'all':
    variaveis_shift = df.columns.drop('Time')
  for qtd in range(1,passos+1,1):
    for var in variaveis_shift:
      df[var+'_T'+str(qtd)] = df[var].shift(qtd)
  df = df[passos:]
  return df